################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAdminPortal.API/Resourses/Images/b94dba02-b933-4a0d-b904-6c3ede8cc49c.jpg
